.body {
    font-family: sans-serif;
    font-size: 16px;
    color: #303846;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h2 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}


header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-item {
    margin: 10px
}

.logo-image {
    max-width: 50px;
    max-height: 50px;
}

.header-menu {
    display: flex;
    justify-content: right;
    align-items: center;
}

.menu-item {
    margin: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.article-1 {
    background-image: url("../images/banner.png");
    background-position: center 600px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    justify-content: flex-start;
    align-items: center;
}

.logo-banner-image {
    margin: 25px;
    width: 200px;
    height: 200px;
    z-index: 10;
}

.color-white {
    color: white;
}

.article-1 > span {
    z-index: 0;
}

.book-button {
    border: 1px solid white;
    text-decoration: white;
    font-size: 20px;
    border-radius: 12px;
    background-color: transparent;
    width: 200px;
    height: 50px;
    z-index: 0;
    margin: 20px 0;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
}

.font-size-40 {
    font-size: 40px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.bold {
    font-weight: bold;
}

.section {
    margin: 50px 0;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article > h2 {
    margin: 10px 0;
}

.article-2 {
    width: 300px;
}

.gray {
    background: #f7f7f7;
}


.article-3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.three-row-article {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.moon-sea-image {
    width: 240px;
    height: 180px;
}

.flex-direction-row-reverse {
    flex-direction: row-reverse;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 1000px;
    background: #f7f7f7;
    justify-content: center;
    align-items: center;
}

.form {
    width: 400px;
}

.room-settings {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: 2px solid #25d7b5;
    margin: 10px 0;
}

legend {
    font-size: 20px;
    color: #25d7b5;
    font-weight: bold;
}

fieldset label {
    font-weight: bold;
}

fieldset > div {
    margin: 10px 0;
}

.input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div > select {
    width: 150px;
}

.send-button {
    border: 1px solid #25d7b5;
    text-decoration: white;
    font-size: 20px;
    border-radius: 12px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #25d7b5;
    background-color: transparent;
}